*{
  margin: 0px;
  padding: 0px;
}
/* Nevbar ****  */
.navbar{
  font-family: "poppins" , sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray; 
}
.nav-link {
  color: black;
}
.nav-link:hover{
  color: brown;
}
.active{
  border-bottom: 2px solid black;
}
.navbar-brand{
  color: black;
}
/* End Navbar **** */

/* **** Footer *** */
.footer{
  background: #000;
  color: aliceblue;
  width: 100%;
  height: cover;
}